
# Complete indicator files
.msys_complete
.vscode_complete
.gh_complete
.wezterm_complete
.install_complete
vscode/

# Generated binaries and wezterm
wezterm/
wezterm.lua

msys64/

# Local environment configuration
.env

# Default home folder
home/


# Temporary downloads and installers
*.exe
*.zip
*.tar.*
*.tmp
/downloads/
/descargas/

# Log files
*.log

# Windows specific
Thumbs.db
desktop.ini
